# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.spec

# Godot
.godot/
*.import
export_presets.cfg

# Logs & Data
logs/
data/
# Versionner le schema SQL (mais pas les DB, saves, etc.)
!data/tron_schema.sql

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Node
node_modules/

# Executables
*.exe
